spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/mission_tracking_dev}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

logging:
  level:
    org.springframework: DEBUG
    org.hibernate.SQL: DEBUG
